version: "3.8"

services:
  chat:
    build: ./services/Chat_BackEnd
    ports:
      - 5002:5002
    networks:
      - transcendence
    volumes:
      - ./services/Chat_BackEnd:/node
      - chat_node_modules:/node/node_modules
    container_name: chat

  login:
    build: ./services/Login_BackEnd
    ports:
      - 5001:5001
    networks:
      - transcendence
    volumes:
      - ./services/Login_BackEnd:/node
      - ./services/Login_BackEnd/data:/node/src/data
      - login_node_modules:/node/node_modules
    container_name: login
    environment:
      - LOCALIP=${LOCALIP:-localhost}
      - USER_API_KEY=${USER_API_KEY:-default_key}
      - SECRET_KEY=${SECRET_KEY:-secret_key}

  front:
    build:
      context: ./services/Vanilla_FrontEnd
    ports:
      - "${FRONT_PORT:-3000}:${FRONT_PORT:-3000}"
    volumes:
      - ./services/Vanilla_FrontEnd:/app
      - front_node_modules:/app/node_modules
    container_name: FrontEnd
    depends_on:
      - chat
      - login
      - notifications
      - users
      - matches
    environment:
      - LOCALIP=${LOCALIP:-localhost}
    networks:
      - transcendence

  notifications:
    build: ./services/Notification_BackEnd
    ports:
      - "3001:3001"
      - "3002:3002"
    networks:
      - transcendence
    volumes:
      - ./services/Notification_BackEnd/data:/app/data
      - notifications_node_modules:/app/node_modules
    environment:
      - NODE_ENV=development
    container_name: notifications

  game:
    build: ./services/Game_BackEnd
    ports:
      - "5004:5004"
      - "5005:5005"
      - "5006:5006"
    networks:
      - transcendence
    volumes:
      - ./services/Game_BackEnd/src:/app/src
      - ./services/Game_BackEnd/data:/app/data
      - game_node_modules:/app/node_modules
    environment:
      - NODE_ENV=development
    container_name: game

  users:
    build: ./services/User_BackEnd
    ports:
      - "3003:3003"
    networks:
      - transcendence
    volumes:
      - ./services/User_BackEnd/data:/app/data
      - ./services/User_BackEnd/uploads:/app/uploads
      - users_node_modules:/app/node_modules
    environment:
      - NODE_ENV=development
      - USER_API_KEY=${USER_API_KEY:-default_key}
      - SECRET_KEY=${SECRET_KEY:-secret_key}
    container_name: users

  matches:
    build: ./services/Match_BackEnd
    ports:
      - "3004:3004"
      - "3005:3005"
    networks:
      - transcendence
    volumes:
      - ./services/Match_BackEnd/data:/app/data
      - ./services/Match_BackEnd/src:/app/src
    environment:
      - NODE_ENV=development
    container_name: matches

  proxy:
    build: ./Proxy
    ports:
      - "443:443"
      - "80:80"
    networks:
      - transcendence
    depends_on:
      - front
      - login
      - chat
      - notifications
      - users
      - matches
      - game
    container_name: proxy

networks:
  transcendence:
    driver: bridge

volumes:
  chat_node_modules:
  login_node_modules:
  front_node_modules:
  notifications_node_modules:
  game_node_modules:
  users_node_modules:
